<!DOCTYPE html>
<html>
  <head>
    <title>Temperature</title>

  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="TableTemplate/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="TableTemplate/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="TableTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="TableTemplate/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="TableTemplate/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="TableTemplate/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="TableTemplate/css/util.css">
	<link rel="stylesheet" type="text/css" href="TableTemplate/css/main.css">

    <!-- Old css -->

    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <!-- Close Old Css -->
    
  </head>
  <body>
    <div class ="container">
      <div class ="row" >

        <h3><a href="/temperature/get">Get Temperature</a></h3>  
          <h1>Temperature</h1>
          <form method="post" action="/temperature/time">
             <input type="time" name="time" placeholder="(HH:MM)"  />
             <input type="submit" />
          </form>
        </div>
      
      
      


      <!-- start -->
      <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">    
              <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                    <% if(temperature.length>0) { %>
                  <table>
                    <thead>
                      <tr class="row100 head">
                        <th class="cell100 column1">TeamID</th>
                        <th class="cell100 column2">sensID</th>
                        <th class="cell100 column3">Val</th>
                        <th class="cell100 column4">Date</th>                 
                      </tr>
                    </thead>
                  </table>
                </div>
      
                <div class="table100-body js-pscroll">        
                  <table>
                    <tbody>
                        <% for(var i=0; i<temperature.length;i++) { %>
                      <tr class="row100 body">
                        <td class="cell100 column1"><%= temperature[i].TeamID %></td>
                        <td class="cell100 column2"><%= temperature[i].sensID %></td>
                        <td class="cell100 column3"><%= temperature[i].val %></td>
                        <td class="cell100 column4"><%= temperature[i].date %></td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <div>No temperature found.</div>
                  <% } %>
                </div>
              </div>
      
              
            </div>
          </div>
        </div>

      <!-- End -->
    </div>
  </body>
</html>
