<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h4><a href="/temperature">Temperature</a></h4>
    <h4><a href="/accelerometer">Accelerometer</a></h4>
    <h4><a href="/din1">Digital input 1</a></h4>
    <!-- <h4><a href="/pressure">Pressure</a></h4> -->
    <!-- <h4><a href="/humidity">Humidity</a></h4> -->
    <!-- <h4><a href="/gyroscope">Gyroscope</a></h4> -->
    <!-- <h4><a href="/magnetometer">Magnetometer</a></h4> -->
  </body>
</html>
