<!DOCTYPE html>
<html>
  <head>
    <title>Din1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/din1/get">Get Din1</a></h3>
      <h1>Din1</h1>
      <% if(din1.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>TeamID</th>
            <th>sensID</th>
            <th>val</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<din1.length;i++) { %>
            <tr>
              <td><%= din1[i].TeamID %></td>
              <td><%= din1[i].sensID %></td>
              <td><%= din1[i].val %></td>
              <td><%= din1[i].date %></td>
            </tr>
          <% } %>
        </tbody>
      </table> 
      <% } else { %>
        <div>No din1 found.</div>
      <% } %>
    </div>
  </body>
</html>
